html,body{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
/*Standard element styling*/
header{
    width:100%;
    height: 750px;
    float: left;
    background-image: url("Privateschool-58b5b2173df78cdcd8a980c7.jpg");
    background-position: 20%;
    background-size: 100%;
    background-repeat: no-repeat;
}

footer{
    background-color: #40403F;
    width: 100%;
    float: left;
}

button{
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    color: #27286F;
    width: 150px;
}

li{
    list-style: none;
    font-size: 1.5em;
    color: #40403F;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}

ul{
    padding: 0;
    overflow-x: hidden;
}

a{
    color: #40403F;
}

h1{
    font-size: 7em;
    color: #40403F;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

h2{
    font-size: 5em;
    color: #40403F;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

p{
    font-size: 2em;
    color: #40403F;
    font-family: 'Montserrat', sans-serif;
}

.titleLeft{
    float: left;
    width: 50%;
    padding-left: 15%;
    margin-top: 10%;
}

.titleLeftMobile{
    display: none;
}

.bodyRight{
    float: right;
    width: 50%;
    padding-right: 10%;
    margin-top: 10%;
}
.btn{
    font-size: 1.5em;
    width: 150px;
    height: 40px;
}

.show {
    display: block;
}
.hide{
    display: none;
}

/*____________________________________________________________________________________________________________________*/
/*Styling for header section of the website including nav logo & dropdown menu*/
#heroHeading{
    float: right;
    width: 100%;
    margin-top: 10%;
    margin-left: 50%;
}

#heroHeading h1{
    float: right;
    margin-right: 10%;
}

.navLogo{
    float: left;
    width: 30%;
    margin-top: 100px;
    margin-left: 15%;
}

.headerNavigation{
    width: 30%;
    float: right;
}

.dropBtn{
    display: block;
    float: right;
    margin-top: 100px;
    margin-right: 15%;
    color: #707070;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    width: 30%;
    float: right;
    display: none;
    text-align: center;
    position: absolute;
    padding-top: 75px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.socialNav{
    margin-top: 5%;
    margin-bottom: 10%;
}

.socialNavMobile{
    display: none;
}

/*____________________________________________________________________________________________________________________*/

/*Styling for the What is Fair Share PA block*/
.whatIsFairShare{
    width: 100%;
    float: left;
    background-color: white;
    margin-bottom: 10%;
}

/*____________________________________________________________________________________________________________________*/
/*Styling for the support the movement section of the website*/
#formSubmitButton{
    float: left;
    padding-left: 3%;
}

.support h2{
    color: #E5E5E5;
}
.support{
    background-color: #27286F;
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 8%;
}

.supportTitle{
    padding-top: 8%;
    padding-bottom: 2%;
}

.supportForm{
    width: 100%;
    float: left;
    margin-bottom: 3%;
}

.supportLeft{
    width: 30%;
    margin-left: 30%;
    float: left;
}

.supportRight{
    width: 25%;
    margin-left: 2%;
    float: left;
}

.supportEmail{
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    float: right;
}

/*____________________________________________________________________________________________________________________*/
/*Styling for the Who's Leading The Charge section of the website*/
.leadingChargeTitle{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;
}

.leadingChargeLeft{
    float: left;
    width: 50%;
    margin-top: 3%;
    text-align: center;
}

.leadingChargeRight{
    float: right;
    width: 50%;
    margin-top: 3%;
    text-align: center;
}

.attyLogo{
    height: 175px;
}

.attyDesc{
    width: 85%;
    padding-left: 15%;
    text-align: left;
}

/*____________________________________________________________________________________________________________________*/
/*Styling for the random loading key stat section of the website*/
.actualStats h1{
    color: #488FCD;
}

.actualStats h2{
    color: #E5E5E5;
}
.keyStat{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    margin-top: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: url("kids_jumping_jump_shot_students_fun_joy_jump_happiness-1164289.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
}



/*____________________________________________________________________________________________________________________*/
/*Styling for the lower contact section of the website*/
.lowerContact h2{
    color: #E5E5E5;
}

.lowerContact button{
    width: 200px;
}

.lowerContact{
    width: 100%;
    float: left;
    background: linear-gradient(#27286F, #000069);
    text-align: center;
    padding-bottom: 8%;
    margin-top: 10%;
}

/*____________________________________________________________________________________________________________________*/
/*Styling for the ZipCode search feature*/
#zipCodeDisplay{
    width: 20%;
    height: 40px;
    margin-top: 3%;
}

.interactiveBlock{
    width: 100%;
    float: left;
    padding-top: 10%;
    padding-bottom: 10%;
}

.interactiveLeft{
    width: 50%;
    float: left;
    padding-left: 15%;
}

.interactiveRight{
    width: 50%;
    float: right;
}

/*____________________________________________________________________________________________________________________*/
/*Styling for the footer of the website*/
#fbPopDisplay p, #emailPopDisplay p, #twPopDisplay p{
    color: #E5E5E5;
}

#fbPopDisplay{
    position: absolute;
    z-index: 2;
    padding-top: 65px;
    padding-left: 9%;
}

#twPopDisplay{
    position: absolute;
    z-index: 2;
    padding-top: 125px;
    padding-left: 9%;
}

#emailPopDisplay{
    position: absolute;
    z-index: 2;
    padding-top: 188px;
    padding-left: 9%;
}

.footerLeft{
    margin-top: 5%;
    width: 50%;
    float: left;
    text-align: center;
}

.footerLeft li{
    color: #E5E5E5;
    padding: 5px;
}

.footerRight li{
    color: #E5E5E5;
    padding: 10px;
}

.footerOtherLinks{
    margin-top: 5%;
}

.footerRight{
    margin-top: 5%;
    width: 50%;
    float: right;
    text-align: center;
}

/*____________________________________________________________________________________________________________________*/
/*Begin styling adjustments for mobile*/
@media screen and (max-width: 1050px) {

    header{
        height: auto;
    }

    li{
        font-size: 1em;
        padding: 10px;
    }

    h1{
        font-size: 5em;
    }

    h2{
        font-size: 3em;
    }

    p {
        font-size: 1.2em;
    }

    .btn{
        font-size: 1em;
        width: 100px;
    }

    .titleLeft{
        display: none;
    }

    .titleLeftMobile{
        text-align: center;
        display: block;
        width: 100%;
        float: left;
        color: #40403F;
        margin-top: 10%;
    }

    .bodyRight{
        width: 95%;
        float: left;
        padding-right: 0;
        padding-left: 5%;
        margin-top: 5%;
    }

    /*________________________________________________________________________________________________________________*/
    /*Mobile styling for the header section of the website*/
    #heroHeading{
        padding-bottom: 5%;
    }

    .headerNavigation{
        width: 50%;
        float: right;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdownContent {
        width: 50%;
        padding-top: 60px;
    }

    .socialNav{
        display: none;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .socialNavMobile{
        display: block;
        margin-top: 8%;
        margin-bottom: 10%;
    }
    /*________________________________________________________________________________________________________________*/
    /*Mobile styling for the what is Fair Share section of the website*/
    .whatIsFairShare{
        margin-bottom: 10%;
    }

    /*________________________________________________________________________________________________________________*/
    /*Support section styling*/
    .supportLeft{
        width: 40%;
        margin-left: 20%;
    }

    /*________________________________________________________________________________________________________________*/
    /*Mobile styling for the Who's leading the charge section of the website*/
    .leadingChargeTitle{
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .leadingChargeLeft{
        float: left;
        width: 100%;
        margin-top: 10%;
        text-align: center;
    }

    .leadingChargeRight{
        float: right;
        width: 100%;
        margin-top: 10%;
        text-align: center;
    }

    .attyLogo{
        height: auto;
        padding-bottom: 2%;
    }

    .attyDesc{
        width: 85%;
        padding-left: 15%;
    }
}

/*____________________________________________________________________________________________________________________*/
/*Below 500 px screen size styling*/
@media screen and (max-width: 500px) {
    /*Mobile styling for the standard elements of the website*/
    h1{
        font-size: 4em;
    }

    h2{
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    /*________________________________________________________________________________________________________________*/
    /*Mobile styling for the header of the website*/
    .headerNavigation{
        width: 60%;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdownContent {
        width: 60%;
    }

    .navLogo{
        margin-top: 50px;
        margin-left: 10%;
    }

    .dropBtn{
        margin-top: 50px;
        margin-right: 10%;
    }

    /*________________________________________________________________________________________________________________*/
    /*Mobile styling for the support section of the website*/
    .supportLeft{
        width: 50%;
        margin-left: 10%;
    }

    /*________________________________________________________________________________________________________________*/
    /*Mobile styling for the attorney section of the website*/
    .leadingChargeTitle{
        margin-bottom: 0;
    }

    /*________________________________________________________________________________________________________________*/
    /*Mobile styling for the Contact Block of the website*/
    .lowerContact{
        padding-bottom: 5%;
    }

    /*________________________________________________________________________________________________________________*/
    /*Mobile styling for the footer of the website*/
    .bodyRight, .footerLeft, li{
        padding-top: 5%;
    }

    .lowerContact button{
        width: 150px;
    }

    .footerLeft{
        margin-top: 5%;
        width: 100%;
    }

    .footerRight{
        margin-top: 5%;
        width: 100%;
    }
}
